.mainNav {
  grid-area: n;
  width: 100em;
  color: black;
  background-color: #D5F5E3;
}

.nav {
  display: flex;
  padding-top: 2%;
  width: 75%;
  }

.item{
  width: 20%;
  height: 30px;
}

.item a {
  text-decoration: none;
  color: darkblue;
  font-size: 22px;
  border: 1px solid black;
  padding: 4%;
}

.item :hover {
  color: black;
  background-color: #D2B4DE;
  font-size: 26px;
  border-radius: 25px;
}

.login {
  margin-top:-2%;
}

.login input {
  border: 1px black;
  background-color: wheat;
  text-align: center;
  width: 120%;
  height: auto;
  margin: 2px;
}

.login :hover {
  color: black;
  background-color: rgb(230, 189, 102);
  font-size: 15px;
}