.mainNav {
  display: flex;
  grid-area: n;
  width: 100%;
  align-items: center;
  padding: 2%;
  justify-content: space-around;
  max-height: 100%;
}

.nav {
  color: black;
  background-color: #D5F5E3;
  border-radius: 25px;
  margin: 3%;
}

.item a {
  text-decoration: none;
  color: darkblue;
  font-size: 22px;
  border: 1px solid black;
  padding: 5px;
}

.item :hover {
  background-color: #D2B4DE;
  font-size: 26px;
  border-radius: 25px;
}

.item a.activeLink {
  color: gold;
  background-color: #D2B4DE;
  border-radius: 25px;
  font-size: 26px;
}