
.nav {
    grid-area: n;
    position: relative;
    text-align: left;
    top: 1%;
    left: 35%;
}

.nav a {
    color: #2A5885;
    text-decoration: none;
    padding-left: 10px;
}

.navItem {
    font-size: 22px;
    padding-bottom: 2%;
}

.navActive {
    color: gold;
}

.nav .navItem:hover {
    color: darkslateblue;
    left: 10px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}
.navItem .navIcon {
    height: 19px;
}

.navFriends {
    position: relative;
    top: 30px;
}

.friendItem {
    display: block;
    text-align: center;
}

.friendItem img{
    width: 30%;
    border-radius: 50% 50%;
}