.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 10px;
    display: flex;
    border-radius: 50px;
    align-items: center;
  }

.item {
  padding: 3px;

}

.item a {
  text-decoration: none;
  color: whitesmoke;;
  display: block;
  padding: 14px 16px;
}

.item :hover {
  color: black;
}

.login {
  text-align: right;
}

.loginBtn {
  text-align: center;
}

.login :hover {
  border: 1px solid black
}