.app-wrapper {
    display: grid;
    grid-template-rows: 15% 2fr;
    grid-template-columns: 111px;
    grid-template-areas:
      "h n"
      "c c";

    margin: 3%;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 14px;
    text-align: center;
}

.app-wrapper-content {
    grid-area: c;
    background-color: burlywood;
    width: 100%;
}