.app-wrapper {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 15fr;
  grid-template-areas: 
  "h n"
  "c c";

  margin: 2%;
  padding: auto;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 20px;
}