.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "addDialog addUser"
        "dialog message";
    border: solid 2px black;
}

.addDialog {
    grid-area: addDialog;
    width: 80%;
    text-align: center;
}

.addUser {
    grid-area: addUser;
}

.dialogsData {
    justify-content: center;
    display: flex;
}

.dialog{
    width: 100%;
    grid-area: dialog;
    border: 1px red solid;
}

.addDialog textarea {
    margin: 10px;
    width: 50%;
    height: 40px;
}

.dialogItem {
    padding: 5px;
}
.dialog a {
    text-decoration: none;
    color: white;
}

.messageItem {
    grid-area: message;
    color: white;
    padding: 5px;
}

.message {
    width: 100%;
    grid-area: message;
    border: 2px solid blue;
}

.message a {
    text-decoration: none;
    color: white;
}

.active {
    color:gold;
}